.filter-container {
    text-align: center;
    position: relative;
  }
  
  .filter-button {
    height: 35px;
    padding: 7px 7px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
  }
  
  .filter-dropdown {
    margin-top: 5px;
    margin-left: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    background-color: #f9f9f9;
    position: absolute;
    z-index: 1;
  }
  
  .filter-dropdown div {
    margin-bottom: 10px;
  }
  
  .filter-input {
    padding: 5px;
    margin-right: 10px;
  }
  