.filter-container {
    text-align: center;
    position: relative;
  }
  
  .filter-button {
    height: 35px;
    padding: 7px 7px;
    cursor: pointer;
  }
  
  .filter-dropdown {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    background-color: #f9f9f9;
    position: absolute;
    z-index: 1;
  }
  
  .filter-dropdown div {
    margin-bottom: 10px;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  }
  
  .filter-input {
    padding: 5px;
    margin-right: 10px;
  }
  