/* Container for the list of repositories */
.repo-list-container {
    margin-top: 20px;
    padding: 0 20px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #009eb0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Individual repository item */
  .repo-item {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: block;
  }
  
  .repo-item:last-child {
    border-bottom: none;
  }
  
  /* Repository name (clickable link) */
  .repo-name {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #a1f9ff;
    display: block;
    margin-bottom: 5px;
  }

  .repo-description{
    font-size: 15px;
    color: #cbe3e7;
  }
  
  .repo-name:hover {
    text-decoration: underline;
  }
  
  /* Repository language */
  .repo-language {
    font-size: 14px;
    color: #d5d5d5;
    display: block;
    margin-top: 5px;
  }
  
  /* Empty message when no repositories are available */
  .repo-empty-message {
    text-align: center;
    color: #666;
    font-size: 16px;
    padding: 20px;
  }
  