.search-bar-comp {
    padding: "12px";
    border-radius: "8px";
    border: "1px solid #ccc";
    width: "300px";
    display: "flex";
    justify-content: "start";
    gap: "0.5em";
    align-items: "center";
}